.fotobox{
    margin: auto;
    margin-left: 500px;
}

.foto{
    display: inline-block;
}

.foto img{
    display:block;
}

.button{
    display: inline-block;
    background-color: #fddc64;
    width: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.button:hover{
	background-color:#8f84be;
	color: rgb(255, 255, 255);
}