.box{
	background-image: none;
	background-color:#fddc64;
    color: black;
	height: 100px;
	width: 200px;
	padding: 50px;
	margin: 10px;
}

.box:hover{
	background-color:#8f84be;
	color: rgb(255, 255, 255);
}