.checked{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 224, 35);
}
.unchecked{
    width: 20px;
    height: 20px;
    background-color: rgb(250, 0, 0);
}
.body img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}